body {
  margin: 0;
  font-family: 'Roboto', 'Open Sans', Arial, Helvetica, sans-serif;
}

#show-intro {
  display: none;
}

#open {
  cursor: pointer;
}

#close {
  float: right;
  cursor: pointer;
}

.intro {
  min-width: 225px;
}

.intro h1 {
  font-size: 3em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.intro img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.intro a {
  color: #f15656;
}

#map {
  position:absolute;
  width: 100%;
  height: 100%;
}

.map-overlay {
  position: absolute;
  width: 25%;
  top: 0;
  left: 0;
  padding: 10px;
}

.map-overlay .map-overlay-inner {
  background-color: #fff;
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 10px;
}

.map-overlay h2 {
  line-height: 24px;
  display: block;
  margin: 0 0 10px;
}

.popup {
  max-width: 400px;
  padding: 15px;
}

.popup h2{
  font-size: 3em;
  margin-bottom: 15px;
}

.popup .place{
  font-size: 1em;
  font-style: italic;
  margin-bottom: 15px;
}

.popup .message{
  font-size: 1.5em;
}

